{% extends "base.html" %}
{% load static %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" href="#">Portfolio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#resume">Resume</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#projects">Projects</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#publication">Publications</a>
            </li>
          </ul>
      </div>
  </div>
</nav>

<header class="bg-primary text-white text-center py-5">
    <img src="https://via.placeholder.com/150" alt="Profile Image" class="rounded-circle mb-3" style='width:200px; height:200px;'>
    <h1>Hafeez Ullah</h1>
    <p>Full Stack Developer</p>
    <div class="social-icons mt-3">
      <a href="#" class="text-white mr-2 me-2"><i class="fab fa-linkedin-in"></i></a>
      <a href="#" class="text-white mr-2 me-2"><i class="fab fa-github"></i></a>
      <a href="#" class="text-white mr-2 me-2"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="text-white mr-2 me-2"><i class="fab fa-twitter"></i></a>
  </div>
</header>

<section id='about'>
  <div class="container mt-4">
    <div>
      <h2>About</h2>
      <p>I am a Python developer with a strong foundation in Django, full-stack development,
        and a passion for creating efficient, scalable solutions. My experience extends beyond Python,
        encompassing a broad range of technologies including JavaScript, Bootstrap, and Figma.
        Throughout my career, I have successfully completed numerous individual projects,
        each serving as a testament to my ability to tackle complex challenges and deliver high-quality results.
        I am always eager to explore new opportunities and challenges that will allow me to further hone my skills and contribute to innovative projects. 
        Currently, I am actively seeking new opportunities where I can apply my expertise in Python and Django, and continue to grow as a full-stack developer.
        I am excited about the prospect of tackling challenging problems and contributing to the success of future projects.
    </p>
    </div>

    <div class="row mt-5">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="https://via.placeholder.com/300" class="img-fluid" alt="Image">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3 class='text-primary'>Python &amp; Web Developer &amp; Software Developer &amp;Django &amp; Full-Stack.</h3>
        <p>
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul class='list-unstyled'>
              <li><i class="bi bi-chevron-right"></i> <strong>linkedin</strong> <span>www.example.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+123455555</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                <span>hafeezullahhassan2019@gmail.com</span>

            </ul>
          </div>
          <div class="col-lg-6">
            <ul class='list-unstyled'>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BS Computer Science</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Turbat Kech,Balochistan,
                  Pakistan</span></li>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Opportunities</strong> <span>Available</span></li>
            </ul>
          </div>
        </div>
        <p>
        </p>
      </div>
    </div>

  </div>
</section>


<div class='container mt-5'>
  <h2>Resume</h2>
  <section id="resume" class="resume-section">
    <div class='center-item'> 
      <div class="container">
        <div class='text-center'>
          <h1 class='text-primary'>HAFEEZ ULLAH</h1>
        <p>Hafeezullahhassan2019@gmail.com | (+92) 33333333322 | Turbat Kech, Balochistan, Pakistan</p>
        <p><i class="fab fa-linkedin-in"> </i><a href='https://www.linkedin.com/in/hafeez-ullah-0635442a6/'>  https://www.linkedin.com/in/hafeez-ullah-0635442a6/</a> | 
        <i class="fab fa-github"> </i><a href='https://www.linkedin.com/in/hafeez-ullah-0635442a6/'>  https://www.github.com/hafeezBaluch/</a></p>
        </div>
        <h2 class='heading'>Education</h2>
        <p><strong>BS Computer Science</strong>,</p>
        <p>University of Turbat, Kech, Balochistan, Pakistan</p>
        <p><strong>FYP:</strong> “NLP Data Collection for Balochi”</p>
        <p><strong>Dates:</strong> 2020-2023</p>
        <p><strong>Certifications:</strong> Introduction to Java (Coursera), MATLAB Onramp</p>
        <p><strong>Course:</strong> Technical Domain from National Freelance Training Program</p>
        
        <p><strong>Intermediate of Computer Science</strong>,</p>
        <p>Atta Shad Degree College Turbat, Kech, Balochistan, Pakistan</p>
        <p><strong>Major:</strong> Computer Science, Mathematics, Physics</p>
        <p><strong>Dates:</strong> 2017-2019</p>
        <p><strong>Certifications:</strong> Certifications in Information Technology (Mekran Institute of Technology)</p>
        
        <h2 class='heading'>Achievements</h2>
        <p class="achievement">• Science Tech Exhibition, 2023, University of Turbat</p>
        <p>Represented my Final Year Project, among the numerous project presentations.</p>
        <p class="achievement">• National Technology Fund, 2023</p>
        <p>I won and got FYP for further funding from Ignite Pakistan.</p>
        
        <h2 class='heading'>Skills</h2>
        <p class="skills"><strong>Programming Languages:</strong> Python, Java, C, C#, HTML, CSS, and JavaScript</p>
        <p class="skills"><strong>Frameworks/Libraries:</strong> Django, Spring Boot, Bootstrap, YOLOV5, Pytorch, Darknet, and Face recognition</p>
        <p class="skills"><strong>Tools:</strong> VS Code, git/GitHub, IntelliJ, Sublime Text</p>
        
        <h2 class='heading'>Projects</h2>
        <div class="projects">
            <p><strong>Final Year Project</strong></p>
            <p><strong>Title:</strong> NLP Data Collection for Balochi</p>
            <p>It is a web application which provides various tools specially designed for Balochi Language that Incorporates Natural Language Processing (NLP) techniques.</p>
            <p><strong>Role:</strong> Backend Developer, Team leader</p>
            
            <p><strong>Web Scraping</strong></p>
            <p><strong>Title:</strong> Web Scraping in Python</p>
            <p>It is a Python script that is used to scrape web pages. It is developed using BeautifulSoup and requests.</p>
        </div>
        
        <h2 class='heading'>Extracurricular</h2>
        <div class="extracurricular">
            <p><strong>Member:</strong> Young Baloch Cricket Club Singanisar Turbat</p>
            <p><strong>Date:</strong> 2016-2017</p>
        </div>
    </div>
    </div>
  </section>
</div>


<section id="skills" class="py-5">
  <div class="container">
      <h2>Skills</h2>
      <p>My technical skills include:</p>
      <ul>
          <li>Front-end Development: HTML, CSS, JavaScript, Bootstrap</li>
          <li>Back-end Development: Python, Django, Flask</li>
          <li>Database Management: PostgreSQL, MySQL</li>
          <li>Version Control: Git</li>
          <li>Other: Agile/Scrum, Test-Driven Development (TDD)</li>
      </ul>
  </div>
</section>

<section id="publications" class="py-5">
  <div class="container">
      <h2>Publications</h2>
      <p>My publications include:</p>
      <ul>
          <li>pub1</li>
          <li>pub2</li>
          <li>pub3</li>
          <li>pub4</li>
          <li>pub4</li>
      </ul>
  </div>
</section>

<section id="projects" class="py-5">
  <div class="container">
      <h2>Projects</h2>
      <p>Here are some of the projects I've worked on:</p>
      <div class="row">
          <div class="col-md-4">
            <h5>Project 1</h5>
              <p>A brief description of Project 1.</p>
          </div>
          <div class="col-md-4">
            <h5>Project 2</h5>
              <p>A brief description of Project 2.</p>
          </div>
          <div class="col-md-4">
              <h5>Project 3</h5>
              <p>A brief description of Project 3.</p>
          </div>
      </div>
  </div>
</section>


<section id="contact" class="py-5">
  <div class="container">
      <h2>Contact</h2>
      <p>If you're interested in working together or have any questions, feel free to reach out:</p>
      <ul>
          <li>Email: hafeezullahhassan2019@gmail.com</li>
          <li>LinkedIn: <a href="" target="_blank">Hafeez Ullah</a></li>
          <li>Phone: +1 (123) 456-7890</li>
      </ul>
  </div>
</section>

{% include "footer.html" %}
{% endblock content %}
